@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply font-serif text-[32px] font-bold leading-[120%];
  }
  h4 {
    @apply text-[20px] font-bold leading-6;
  }
  p {
    @apply text-base font-normal;
  }

  th:first-child {
    @apply min-w-[100px];
  }
  th {
    @apply min-w-[140px]  font-normal;
  }
  td {
    @apply text-center;
  }
  ::-webkit-scrollbar {
    height: 1px;
    width: 5px;
    background-color: rgba(240, 240, 240, 0.5);
  }
  ::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 10px;
  }
}

@layer components {
  .formInput {
    @apply min-h-12 w-full rounded-lg border border-custom px-[14px] py-[12px] outline-none placeholder:text-custom;
  }
  .accountInput {
    @apply w-full border-b p-4  outline-none;
  }

  /* searchBar 未被選擇按鈕樣式 */
  .styleBtn {
    @apply m-2 block  whitespace-nowrap rounded-full border-[1px] border-primary bg-white px-3 py-1 text-black hover:border-secondary hover:bg-white active:border-custom;
  }
  /* searchBar 被選擇按鈕樣式 */
  .chosenStyleBtn {
    @apply m-2 block  whitespace-nowrap rounded-full  bg-black px-3 py-1 text-white  hover:bg-black hover:text-custom focus:bg-black active:text-secondary;
  }
  /* searchBar 搜尋按鈕 */
  .searchBtn {
    @apply rounded-none rounded-r-lg border-0 bg-black px-6 py-4  text-[20px] font-bold leading-[120%] text-white hover:text-secondary;
  }
  .designCard {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 67.71%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
  .uploadPhoto {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
    /* lightgray 0px -5.437px / 100% 149.982% no-repeat; */
  }
  .soldOut {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  }

  .goBack {
    @apply mb-5 rounded-full border border-[#D0D0D0] text-secondary duration-200 hover:border-secondary  active:border-black;
  }
  .defaultBtn {
    @apply block w-full cursor-pointer rounded-lg bg-black px-4 py-2  font-noto-tc text-base text-white duration-200 hover:text-[#F0F0F0F0];
  }
  /* 按鈕基礎樣式 */
  .btn-basic {
    @apply whitespace-nowrap rounded-lg bg-black font-noto-tc text-white hover:text-primary active:text-secondary;
  }
  /* 小按鈕 */
  .btn-small {
    @apply px-4 py-2 text-[16px];
  }
  /* 中按鈕 */
  .btn-normal {
    @apply px-6 py-3 text-[20px] font-bold;
  }
  /* 大按鈕 */
  .btn-large {
    @apply w-full py-5 text-[20px] font-bold;
  }
}
